<div class="container">
    <div class="row">
        <div class="mt-4">
            <form>
                <div class="row">
                    <div class="col form-group">
                        <label>ID:</label>
                        <p><input type="text" class="form-control" name="ID" placeholder="12345" value="" required /></p>
                    </div>
                    <div class="col form-group">
                        <label>ParentId:</label>
                        <p><input type="text" class="form-control" name="ParentId" placeholder="1234" value="" /></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label>Name:</label>
                        <p><input class="form-control" type="text" name="Name" value="" placeholder="Versace Eros For Men" /></p>
                    </div>
                    <div class="col form-group">
                        <label>ItemTypeName:</label>
                        <p><input class="form-control" type="text" name="ItemTypeName" value="" placeholder="Vật tư hàng hóa" /></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label>Code:</label>
                        <p><input class="form-control" type="text" name="Code" value="" placeholder="001" /></p>
                    </div>
                    <div class="col form-group">
                        <label>Unit:</label>
                        <p><input class="form-control" type="text" name="Unit" value="" placeholder="Lọ" /></p>
                    </div>
                </div>
                <button type="submit" class="btn btn-success float-end">Thêm mới</button>
            </form>
        </div>
    </div>
</div>
