<div class="container">
    <div class="row">
        <div class="mt-4">
            <form (ngSubmit)="onSubmit()" [formGroup]="addProduct">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>ID:</label>
                        <p><input type="text" class="form-control" formControlName="Id" placeholder="12345" value="" required /></p>
                        <div *ngIf="Id.invalid && (Id.dirty || Id.touched)" class="alert alert-danger" role="alert">
                            <div *ngIf="Id.errors?.['required']">
                                ID không được bỏ trống.
                            </div>
                            <div *ngIf="Id.errors?.['minlength']">
                                ID phải có ít nhất 5 ký tự.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>ParentId:</label>
                        <p><input type="text" class="form-control" formControlName="ParentId" placeholder="1234" value="" required /></p>
                        <div *ngIf="ParentId.invalid && (ParentId.dirty || ParentId.touched)" class="alert alert-danger" role="alert">
                            <div *ngIf="ParentId.errors?.['required']">
                                ParentId không được bỏ trống.
                            </div>
                            <div *ngIf="ParentId.errors?.['minlength']">
                                ParentId phải có ít nhất 4 ký tự.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Name:</label>
                        <p><input class="form-control" type="text" formControlName="Name" value="" placeholder="Versace Eros For Men" required /></p>
                        <div *ngIf="Name.invalid && (Name.dirty || Name.touched)" class="alert alert-danger" role="alert">
                            <div *ngIf="Name.errors?.['required']">
                                Tên không được bỏ trống.
                            </div>
                            <div *ngIf="Name.errors?.['minlength']">
                                Tên phải có ít nhất 4 ký tự.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>ItemTypeName:</label>
                        <p><input class="form-control" type="text" formControlName="ItemTypeName" value="" placeholder="Vật tư hàng hóa" required /></p>
                        <div *ngIf="ItemTypeName.invalid && (ItemTypeName.dirty || ItemTypeName.touched)" class="alert alert-danger" role="alert">
                            <div *ngIf="ItemTypeName.errors?.['required']">
                                ItemTypeName không được bỏ trống.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Code:</label>
                        <p><input class="form-control" type="text" formControlName="Code" value="" placeholder="001" required /></p>
                        <div *ngIf="Code.invalid && (Code.dirty || Code.touched)" class="alert alert-danger" role="alert">
                            <div *ngIf="Code.errors?.['required']">
                                Code không được bỏ trống.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Unit:</label>
                        <p><input class="form-control" type="text" formControlName="Unit" value="" placeholder="Lọ" required /></p>
                        <div *ngIf="Unit.invalid && (Unit.dirty || Unit.touched)" class="alert alert-danger" role="alert">
                            <div *ngIf="Unit.errors?.['required']">
                                Unit không được bỏ trống.
                            </div>
                        </div>
                    </div>
                </div>
                <div class='d-grid gap-2 d-md-flex justify-content-md-end'>
                    <button (click)="onReset()" class="btn btn-btn btn-light"><i class="fas fa-redo-alt"></i> Làm mới</button>
                    <button onclick="success(`Thành công`, `Sản phẩm đã được thêm vào thành công!`)" [disabled]="addProduct.invalid" type="submit" class="btn btn-success"><i class="fas fa-cart-plus"></i> Thêm mới</button>
                </div>
            </form>
        </div>
    </div>
</div>
