label {
    font-weight: 500;
    background: linear-gradient(180deg, #686868, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.ng-invalid:not(form)  {
    border-left: 5px solid #f93154;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #00b74a;
}
