<div class="container">
    <div class="row">
        <div class="mt-4">
            <!-- Thêm mới -->
            <form (submit)="addProduct()" #formAddProduct="ngForm">
                <div class="row">
                    <div class="col form-group">
                        <label>ID:</label>
                        <p><input [(ngModel)]="newId" type="text" class="form-control" name="ID" placeholder="12345" value="" required /></p>
                    </div>
                    <div class="col form-group">
                        <label>ParentId:</label>
                        <p><input [(ngModel)]="newParentId" type="text" class="form-control" name="ParentId" placeholder="1234" value="" /></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label>IsGroup:</label>
                        <p>
                            <input [(ngModel)]="newIsGroup" type="radio" name="IsGroup" value="true" /> True
                            <input [(ngModel)]="newIsGroup" type="radio" name="IsGroup" value="false" /> False
                        </p>
                    </div>
                    <div class="col form-group">
                        <label>IsActive:</label>
                        <p>
                            <input [(ngModel)]="newIsActive" type="radio" name="IsActive" value="true" /> True
                            <input [(ngModel)]="newIsActive" type="radio" name="IsActive" value="false" /> False
                        </p>
                    </div>
                    <div class="col form-group">
                        <label>_SelectKey__wibkaw:</label>
                        <p>
                            <input [(ngModel)]="new_SelectKey__wibkaw" type="radio" name="_SelectKey__wibkaw" value="true" /> True
                            <input [(ngModel)]="new_SelectKey__wibkaw" type="radio" name="_SelectKey__wibkaw" value="false" /> False
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label>Name:</label>
                        <p><input [(ngModel)]="newName" class="form-control" type="text" name="Name" value="" placeholder="Versace Eros For Men" /></p>
                    </div>
                    <div class="col form-group">
                        <label>ItemTypeName:</label>
                        <p><input [(ngModel)]="newItemTypeName" class="form-control" type="text" name="ItemTypeName" value="" placeholder="Vật tư hàng hóa" /></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label>Code:</label>
                        <p><input [(ngModel)]="newCode" class="form-control" type="text" name="Code" value="" placeholder="001" /></p>
                    </div>
                    <div class="col form-group">
                        <label>Unit:</label>
                        <p><input [(ngModel)]="newUnit" class="form-control" type="text" name="Unit" value="" placeholder="Lọ" /></p>
                    </div>
                    <div class="col form-group">
                        <label>ItemGroupCode:</label>
                        <p><input [(ngModel)]="newItemGroupCode" class="form-control" type="text" name="ItemGroupCode" value="" placeholder="ABC" /></p>
                    </div>
                    <div class="col form-group">
                        <label>BranchCode:</label>
                        <p><input [(ngModel)]="newBranchCode" class="form-control" type="text" name="BranchCode" value="" placeholder="CDE" /></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label>CreatedBy:</label>
                        <p><input [(ngModel)]="newCreatedBy" class="form-control" type="text" name="CreatedBy" value="" placeholder="100" /></p>
                    </div>
                    <div class="col form-group">
                        <label>CreatedAt:</label>
                        <p><input [(ngModel)]="newCreatedAt" class="form-control" type="text" name="CreatedAt" value="" placeholder="2021-01-09T19:00:00.000Z" /></p>
                    </div>
                    <div class="col form-group">
                        <label>ModifiedBy:</label>
                        <p><input [(ngModel)]="newModifiedBy" class="form-control" type="text" name="ModifiedBy" value="" placeholder="10" /></p>
                    </div>
                    <div class="col form-group">
                        <label>ModifiedAt:</label>
                        <p><input [(ngModel)]="newModifiedAt" class="form-control" type="text" name="ModifiedAt" value="" placeholder="2021-01-09T19:00:00.000Z" /></p>
                    </div>
                </div>
                <button [disabled]="formAddProduct.invalid" onclick="successAdd()" type="submit" class="btn btn-success float-end">Thêm mới</button>
            </form>
            <!-- Thêm mới -->
            <div class="mt-5 alert alert-info alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                Dưới đây là danh sách sản phẩm!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <table class='table table-striped table-hover shadow-4'>
                <thead>
                    <tr>
                        <th scope='col'>STT</th>
                        <th scope='col'>Id</th>
                        <th scope='col'>ParentId</th>
                        <th scope='col'>IsGroup</th>
                        <th scope='col'>Name</th>
                        <th scope='col'>ItemTypeName</th>
                        <th scope='col'>Code</th>
                        <th scope='col'>Unit</th>
                        <th scope='col'>ItemGroupCode</th>
                        <th scope='col'>BranchCode</th>
                        <th scope='col'>IsActive</th>
                        <th scope='col'>CreatedBy</th>
                        <th scope='col'>CreatedAt</th>
                        <th scope='col'>ModifiedBy</th>
                        <th scope='col'>ModifiedAt</th>
                        <th scope='col'>_SelectKey__wibkaw</th>
                        <th scope='col'>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listProduct.slice(previous * perPage, page * perPage); index as i">
                        <th scope='row'>{{ i + previous * perPage + 1 }}</th>
                        <td>{{ item.Id }}</td>
                        <td>{{ item.ParentId }}</td>
                        <td>{{ item.IsGroup }}</td>
                        <td>{{ item.Name }}</td>
                        <td>{{ item.ItemTypeName }}</td>
                        <td>{{ item.Code }}</td>
                        <td>{{ item.Unit }}</td>
                        <td>{{ item.ItemGroupCode }}</td>
                        <td>{{ item.BranchCode }}</td>
                        <td>{{ item.IsActive }}</td>
                        <td>{{ item.CreatedBy }}</td>
                        <td>{{ item.CreatedAt }}</td>
                        <td>{{ item.ModifiedBy }}</td>
                        <td>{{ item.ModifiedAt }}</td>
                        <td>{{ item._SelectKey__wibkaw }}</td>
                        <td>
                            <div class='d-grid gap-2 d-md-flex justify-content-md-end'>
                                <button onclick="successEdit()" class='btn btn-success btn-sm'><i class="fas fa-pen"></i></button>
                                <button onclick="comfirmDelete()" class='btn btn-danger btn-sm'><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Phân trang -->
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class]="check ? 'disabled' : ''">
                        <a class="page-link" href="?page={{previous}}">Previous</a>
                    </li>
                    <li class="page-item" [class]="check ? 'disabled' : ''">
                        <a class="page-link" href="?page={{previous}}">{{ previous }}</a>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ next }}">{{ next }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ next }}">Next</a>
                    </li>
                </ul>
            </nav>
            <!-- Phân trang -->
        </div>
    </div>
</div>

<!-- SVG Symbol -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
